//RESULTS SECTION STYLES
section {
    padding: 20px 0;
}

.hide {
    display: none;
}

.dynamicHeading {
    padding-bottom: 80px;

}

.dynamicFlex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.dynamicImageAndText {
    width: calc(65% - 30px);
    display: flex;
    flex-direction: column;
}

.dynamicImages {
    position: relative;
}

.photoFilter {
    opacity: .5;

    padding: 25px;

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    z-index: 10;
}

.dynamicText {
    padding-top: 40px;

    .special {
        position: relative;

        &::after {
            content: ' ';
            background-color: $secondaryAccentColor;

            width: 90%;
            height: 40%;

            display: inline-block;

            position: absolute;
            bottom: 5%;
            left: -4%;
            z-index: -10;
        }
    
    }
}


button {
    border: 1px solid $fontColor;
    color: $fontColor;

    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;

    padding: 20px 5px;
    margin: 40px 0;
    width: 100%;

    transition: all .3s;

    &:hover,
    &:focus {
        background-color: $buttonColor;
        color: $highlightedFontColor;

        letter-spacing: 6px;
    }

} 


.dynamicFilters {
    width: calc(35% - 30px);
}


.tape {
    width: 35%;
    
    position: absolute;
    top: -2%;
    left: 33%;
    z-index: 20;

}