//RESULTS SECTION STYLES
section {
    padding: 20px 0;

}

.dynamicHeading {
    padding-bottom: 80px;

}

.dynamicFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dynamicImageAndText {
    width: calc(80% - 10px);
}

.dynamicImages {
    padding: 20px;
    position: relative;
}

.grain, 
.lightLeak,
.doubleExposure {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    // padding: 25px;
    // width: 93%;
}

.dynamicText {
    padding-top: 40px;
}

.dynamicFilters {
    width: calc(20% - 10px);

    button {
        border: 1px solid $fontColor;
        color: $fontColor;

        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
        letter-spacing: 5px;

        padding: 20px 5px;
        margin: 20px 0;
        width: 100%;

     
    } 
}




.hide {
    display: none;
}