//FORM STYLES
legend h2 {
    font-size: clamp(2rem, 3vw, 2.5rem);
}

ul {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

li {
    width: calc((100% / 3) - 30px);

    display: flex;
    flex-direction: column;
}

label {
    border: 1px solid $fontColor;

    width: 70%;
    margin: 20px 0;
    padding: 15px 0;
    position: relative;
    align-self: center;
    transition: all .3s;

    &:hover {
        background-color: $buttonColor;
        color: $highlightedFontColor;
        letter-spacing: 8px;
    }
}

[type="radio"] {
    position: absolute;
    opacity: 0;
}

input[type="radio"]:checked + label,
input[type="radio"]:focus + label,
input[type="radio"]:active + label {
     background-color: $buttonColor;
}

input[type="radio"]:focus + label {
    letter-spacing: 8px;
    color: $highlightedFontColor;
}


.formSubmit {
    padding: 30px 0 40px;  
    
    .highlight {
        font-size: clamp(1.6rem, 3vw, 2rem);
        font-style: italic;
        font-weight: lighter;
        
        padding-bottom: 15px;

    }
}

.formButton {
    width: 45%;
    transition: all .2s;

    &:hover,
    &:focus {
        width: 46%;
        opacity: .80;
    }
}


// button {
//     width: 50%;
    // position: relative;
    
    // .main {
    //     &:hover,
    //     &:focus {
    //         opacity: 0;
    //     }
    // }

    // .overlay {
    // position: absolute;
    // top: 0;
    // bottom: 0;
    // left: 0;
    // right: 0;
    // opacity: 0;
    //     &:hover,
    //     &:focus {
    //         opacity: 1;
    //     }
    // }






