//GENERAL STYLES
html {
    font-size: 62.5%;
}

body {
    background-color: $backgroundColor;
    color: $fontColor;
    border: 1px solid $fontColor;
    margin: 20px;

    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
}

header {
    // height: 50vh;
    padding: 40px 0;
}

main {
    padding: 40px 10px;
}

footer {
    text-align: right;
    padding: 20px 0;
}

h1 {
    font-size: 4rem;
    padding: 10px;
}

h2 {
    font-size: 2.5rem;
    padding: 10px 0;
}

p {
    font-style: italic;
    font-weight: lighter;
}

.wrapper {
    max-width: 1220px;
    width: 85%;
    margin: 0 auto;
}


