//GENERAL STYLES
html {
    font-size: 62.5%;
}

body {
    background-color: $backgroundColor;
    color: $fontColor;
    border: 1px solid $fontColor;

  
    font-size: clamp(1.6rem, 2vw, 2rem);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;

    margin: 20px;
}

header {
    padding: 40px 0;
}

main {
    padding: 40px 10px;
}

footer {
    text-align: right;

    padding: 20px 0;
}

h1 {
    font-size: clamp(2.4rem, 4vw, 4rem);

    padding: 10px;
}

h2 {
    font-size: clamp(2rem, 3vw, 3.5rem);

    padding: 10px 0;
}

h3 {
    font-size: clamp(2rem, 3vw, 3.2rem);
}

p {
    font-style: italic;
    font-weight: lighter;
}

.wrapper {
    max-width: 1220px;
    width: 85%;
    margin: 0 auto;
}


