//MEDIA QUERIES START HERE

@media (max-width: 940px) {
    label,
    button {
        letter-spacing: 3px;

        &:hover,
        &:focus {
            letter-spacing: 3px;
        }
    }

}

@media (max-width: 768px) {

    header img {
        width: 70%;
    }

    main {
        padding-top: 10px;
    }

    .optionContainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .option {
        width: 50%;
        padding: 0;
    }

    button {
        margin: 20px 0;  
    }

    .formButton {
        width: 50%;

        &:hover,
        &:focus {
            width: 52%;
        }
    }

}

@media (max-width: 560px) {

    body {
        letter-spacing: 3px;
    }

    header img {
        width: 85%;
    }

    .option {
        width: 80%;
    }

   .formButton{
        width: 90%;

        &:hover,
        &:focus {
            width: 92%;
        }

        &::before,
        &::after {
            display: none;
        }
        
    }
    .arrow1,
    .arrow2 {
        display: none;
    }

    //DYNAMIC CONTENT
    .dynamicHeading {
        padding-bottom: 40px;
    }
    
    .dynamicFlex {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .dynamicImageAndText {
        padding-top: 20px;
        width: 100%
    }

    .dynamicFilters {
        width: 80%;
    }

    footer {
        font-size: 1.2rem;
        text-align: left;
    }

}

@media (max-width: 420px) {

    h1 span {
        position: relative;

        &::before {
            content: '';
            background-color: $secondaryAccentColor;

            width: 95%;
            height: 40%;

            display: inline-block;

            position: absolute;
            bottom: 5%;
            left: -2%;
            z-index: -10;
        }
    }

    legend h2::before,
    .accent::before {
        display: none;
    }
}