//MEDIA QUERIES START HERE

//landscape tablet and small desktops
@media (max-width: 940px) {

    label,
    button {
        letter-spacing: 3px;

        &:hover,
        &:focus {
            letter-spacing: 3px;
        }
    }
}

//landscape phone and portrait tablets
@media (max-width: 768px) {

    header img {
        width: 70%;
    }

    main {
        padding-top: 10px;
    }

    .optionContainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .option {
        width: 50%;
        padding: 0;
    }

    button {
        margin: 20px 0;  
    }

    .newPhotoButton {
        width: 59.75%;
    }

    .formButton {
        width: 50%;

        &:hover,
        &:focus {
            width: 52%;
        }
    }

    footer {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .creatorInfo {
        text-align:left;

        padding-top: 10px;
    }
}

// landscape phones
@media (max-width: 560px) {

    body {
        letter-spacing: 3px;
    }

    header img {
        width: 85%;
    }

    .option {
        width: 80%;
    }

   .formButton{
        width: 90%;

        &:hover,
        &:focus {
            width: 92%;
        }

        &::before,
        &::after {
            display: none;
        } 
    }
    
    .arrow1,
    .arrow2 {
        display: none;
    }

    //DYNAMIC CONTENT
    .dynamicHeading {
        padding-bottom: 40px;
    }
    
    .dynamicFlex {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .dynamicImageAndText {
        padding-top: 20px;
        width: 100%
    }

    .dynamicFilters,
    .newPhotoButton {
        width: 80%;
    }

    .dynamicFilters {
        padding-top: 45px;

    }

    .newPhotoButton {
        padding-top: 20px;

    }

    .newPhotoButton {
        margin: 0 auto;
    }
}

// portrait phones and down
@media (max-width: 420px) {

    h1 span {
        position: relative;

        &::before {
            content: '';
            background-color: $secondaryAccentColor;

            width: 95%;
            height: 40%;

            display: inline-block;

            position: absolute;
            bottom: 5%;
            left: -2%;
            z-index: -10;
        }
    }

    legend h2::before,
    .accent::before {
        display: none;
    }
}