//DECLARING VARIABLES
$backgroundColor: rgb(234, 227, 217);
$fontColor:  #2f2d2b;
// rgba(0, 0, 0, .75); 
$accentColor: rgb(161, 163, 149);
$SecondaryAccentColor: rgba(161, 163, 149, .75);
// add opacity of .70 to everything but a tags
$buttonColor: rgb(249, 247, 244);



//IMPORTING OF PARTIALS
@import 'setup';
@import 'general';


// test
header {
    img {
        width: 50%;
    }
}


.test {
    font-size: 70px;

}