//DECLARING VARIABLES
$backgroundColor: #e9e2d8;
$fontColor:  #2f2d2b;
$highlightedFontColor: #2f2d2bd9;
$accentColor: #4d6656;
$secondaryAccentColor: #4d665666;
$buttonColor: #f9f7f4;

//IMPORTING OF PARTIALS
@import 'setup';
@import 'general';
@import 'headerAndFooter'; 
@import 'form'; 
@import 'formResultsSection';
@import 'mediaQueries';







