//DECLARING VARIABLES
$backgroundColor: rgb(234, 227, 217);
$fontColor:  rgb(47, 45, 43);
$highlightedFontColor: rgba(47, 45, 43, .85);
// rgba(0, 0, 0, .75); 
$accentColor: rgb(119, 124, 90);
$secondaryAccentColor: rgba(161, 163, 149, .75);
// add opacity of .70 to everything but a tags
$buttonColor: rgb(249, 247, 244);

//IMPORTING OF PARTIALS
@import 'setup';
@import 'general';
@import 'headerAndFooter'; 
@import 'form'; 
@import 'formResultsSection';
@import 'mediaQueries';







