html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body,
h1,
h2,
p,
a,
ul,
li,
form,
fieldset,
legend,
button {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

fieldset,
legend,
button {
  border: none;
}

button {
  background: none;
}

img {
  width: 100%;
  height: auto;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #eae3d9;
  color: #2f2d2b;
  border: 1px solid #2f2d2b;
  font-size: clamp(1.6rem, 1.46vw, 2rem);
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 20px;
}

header {
  padding: 40px 0;
}

main {
  padding: 40px 10px;
}

footer {
  text-align: right;
  padding: 20px 0;
}

h1 {
  font-size: clamp(3rem, 3vw, 4rem);
  padding: 10px;
}

h2 {
  font-size: clamp(2.3rem, 3vw, 3.5rem);
  padding: 10px 0;
}

p {
  font-style: italic;
  font-weight: lighter;
}

.wrapper {
  max-width: 1220px;
  width: 85%;
  margin: 0 auto;
}

header {
  padding: 60px 0;
}

header img {
  width: 50%;
}

footer {
  font-size: 1.6rem;
}

footer a {
  color: #a1a395;
}

legend h2 {
  font-size: clamp(2rem, 3vw, 2.5rem);
}

ul {
  padding: 20px 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

li {
  width: calc((100% / 3) - 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

label {
  border: 1px solid #2f2d2b;
  width: 70%;
  margin: 20px 0;
  padding: 15px 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

label:hover, label:focus {
  background-color: #f9f7f4;
}

.selected {
  background-color: #f9f7f4;
}

.formSubmit {
  padding: 30px 0 40px;
}

.formSubmit .highlight {
  font-size: clamp(1.6rem, 3vw, 2rem);
  font-style: italic;
  font-weight: lighter;
  padding-bottom: 15px;
}

button {
  width: 50%;
}

section {
  padding: 20px 0;
}

.dynamicHeading {
  padding-bottom: 80px;
}

.dynamicFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dynamicImageAndText {
  width: calc(80% - 10px);
}

.dynamicImages {
  padding: 20px;
}

.dynamicText {
  padding-top: 40px;
}

.dynamicFilters {
  width: calc(20% - 10px);
}

.dynamicFilters button {
  border: 1px solid #2f2d2b;
  color: #2f2d2b;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 20px 5px;
  margin: 20px 0;
  width: 100%;
}

.hide {
  display: none;
}
